/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation Bar */
nav {
    background-color: #343a40;
    padding: 20px 0;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffc107;
}

.logo {
    font-size: 1.5rem;
    color: #ffc107;
}

/* Hero Section */
.hero {
    background-image: url('../static/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
}

.hero-text {
    color: #333; /* Darker text color */
    font-size: 3rem;
    margin-bottom: 40px;
}


/* Form Section */
.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-container input[type="text"]:focus {
    border-color: #ffc107;
}

.form-container input[type="submit"] {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #ffca28;
}

/* Result Section */
.result-section {
    padding: 80px 0;
    background-color: #f8f9fa; /* Light gray background */
}

.result-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.result-heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.result-details {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result-details p {
    margin-bottom: 10px;
}

.sentiment {
    font-size: 2rem;
    font-weight: bold;
}

.emoji {
    font-size: 3rem;
    margin-bottom: 20px;
}

.back-link {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

.back-link a {
    color: #007bff; /* Blue */
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-link a:hover {
    color: #0056b3; /* Darker blue on hover */
}
